.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	flex-wrap: wrap;
	list-style: none;
	min-height: 53px;
	&__item {
		border-right: $border1px;
		transition: $all-100-ease-out;
		&:hover {
			@include hover-menu-btn-effect;
			border-right: none;
		}
		&:last-child {
			border-right: none;
		}
	}
	&__link {
		font-size: 15px;
		font-weight: 300;
		min-height: 31px;
		padding: 0 30px;
		color: #fff;
		display: flex;
		align-items: center;
	}
}
