.promo {
	min-height: 800px;
	padding: 195px 0 186px 0;
	background: url('../../assets/img/bg/uber_first_bg.png') center center / cover no-repeat;
	h1.title {
		font-size: 60px;
		font-weight: 900;
	}
	h2.title {
		margin-top: 20px;
	}
}
