.reasons {
	min-height: 850px;
	padding: 20px 0 64px 0;

	.title_black {
		margin-top: 33px;
	}

	&__wrapper {
		padding: 0 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 25px 5px;
		max-width: 1064px;
		margin: 0 auto;
		margin-top: 20px;
	}
}
