.reasons {
	min-height: 850px;
	padding: 20px 0 64px 0;

	.title_black {
		margin-top: 33px;
	}

	&__wrapper {
		display: flex;
		margin-top: 20px;
		gap: 25px 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
