.title {
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	&_black {
		color: #222;
	}
	&__subtitle {
		color: #fff;
		font-size: 17px;
		font-weight: 400;
		&_dark {
			color: #222;
		}
	}
}
