@mixin animate($animation, $duration, $method, $times) {
	animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
	@keyframes #{$name} {
		@content;
	}
}

@mixin hover-menu-btn-effect() {
	color: #fff;
	font-size: 16px;
	text-shadow:
		1px 1px 20px #800080,
		-1px -1px 20px #0000ff;
	font-weight: 700;
	border: 2px solid #800080;
	box-shadow:
		2px 4px 10px #ff0000,
		-2px -4px 10px #8b0000;
	border-radius: 12%;
}

@mixin hover-section-btn-effect() {
	cursor: pointer;
	color: #fff;
	text-shadow:
		3px 3px 30px #000000,
		-3px -3px 30px #000000;
	border: 2px solid #deb887;
	box-shadow:
		2px 4px 10px #b0c4de,
		-2px -4px 10px #808080;
	background: linear-gradient(0deg, #000000 10%, #191970 100%);
	border-radius: 6px;
	transform: scale(1.03);
}

@mixin transaction-btn-timing() {
	transition-timing-function: ease-in-out;
	transition:
		border-radius 0.3s,
		box-shadow 0.3s,
		text-shadow 0.3s,
		transform 0.1s linear,
		background-color 0.4s;
}
