//colors
$main-color: #222;
$second-color: #1eacc7;
$third-color: #ff5656;
$fourth-color: #1fbad6;
$fifth-color: #070716;
$sixth-color: #212121;

//effect
$border1px: 2px dashed #000;
$all-100-ease-out: all 0.1s ease-out;
$all-300-ease-out: all 0.3s ease-out;
$all-600-ease-out: all 0.6s ease-out;
