.item-social {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	&__round {
		width: 35px;
		height: 35px;
		border-radius: 100%;
		background-color: $fifth-color;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			font-size: 16px;
		}
		@include transaction-btn-timing;
		&:hover {
			@include hover-section-btn-effect;
			background-color: $fifth-color;
			border: none;
			border-radius: 100%;
			transform: scale(1.05);
		}
	}
}
